{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
    <h2 class="display-4 text-center">Welcome, {{ session.user }}</h2>
    <h5 class="text-center">To log a session, click <a href="{{ url_for('log1') }}">here</a></h5>
    <a href="{{ url_for('logout') }}">Log out</a>
</div>

    <section>
        {% for session in sessiondata %}
            <div class="container">
                <table class="table table-bordered mx-auto">
                    <thead class="thead-dark">
                        <tr>
                            <th>Session Name</th>
                            <th>Session Date</th>
                            <th>Time in Minutes</th>
                            <th>Session RPE</th>
                            <th>Session Workload</th>
                        </tr>
                    </thead>
                    <tr>
                        <td><a href="#" data-toggle="collapse" data-target=".collapse">{{ session[4] }}</a></td>
                        <td>{{ session[2] }}</td>
                        <td>{{ session[3] }}</td>
                        <td>{{ session[5] }}</td>
                        <td>{{ session[6] }}</td>
                    </tr>
                    <tr>
                        <th>Exercises</th>
                    </tr>
                    {% for exercise in listb %}
                        {% if session[0] == exercise[0] %}
                            <tr class="collapse">
                                <td>{{ exercise[2] }}</td>
                                <td>{{ exercise[3] }}</td>
                                <th>{{ exercise[4] }}</th>
                                <td>{{ exercise[5] }}</td>
                                <td>{{ exercise[6] }}</td>
                                <td>{{ exercise[7] }}</td>
                                <td>{{ exercise[8] }}</td>
                                <td>{{ exercise[9] }}</td>
                                <td>{{ exercise[10] }}</td>
                                <td>{{ exercise[11] }}</td>
                            </tr>
                            <tr>
                                <th>Reps</th>
                                <th>Weight</th>
                                <th>RPE</th>
                            </tr>
                            {% for setlist in sets %}
                                {% for x in setlist %}
                                    {% if x[1] == exercise[1] %}
                                        
                                        <tr class="collapse">
                                            <td>{{ x[2] }}</td>
                                            <td>{{ x[3] }}</td>
                                            <td>{{ x[4] }}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
        {% endfor %}
    </section>

<a href="{{ url_for('log3') }}">Test Page</a>

{% endblock %}


