{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
    <h2 class="display-4 text-center">Welcome, {{ session.user }}</h2>
    <h5 class="text-center">To log a session, click <a href="{{ url_for('log1') }}">here</a></h5>
    <a href="{{ url_for('logout') }}">Log out</a>
</div>

    <div class="container">
    {% set x = sessiondata %}
    {% set y = listb %}
    {% if x|length %}
    {% for session in sessiondata %}
    <table class="session-table table table-bordered">
        <thead class="thead-dark">
            <tr class="text-center table-font">
                <th>Session Name</th>
                <th>Session Date</th>
                <th>Session Time in Minutes</th>
                <th>Session RPE</th>
                <th>Session Workload</th>
            </tr>
        </thead>
            <tr class="text-center table-font">
                <td>{{ session[4] }}</td>
                <td>{{ session[2] }}</td>
                <td>{{ session[3] }}</td>
                <td>{{ session[5] }}</td>
                <td>{{ session[6] }}</td>
                <td>
                    <a href="{{ url_for('edit_session', SessionId=session[0]) }}" class="btn btn-primary">Edit</a>
                    <a href="{{ url_for('delete_session', SessionId=session[0]) }}">Delete</a>
                </td>
            </tr>
            
            {% if y|length %}
            {% for exercise in listb %}
                {% if session[0] == exercise[0] %}
                    <tr>
                        <table class="exercise exercise-table table table-bordered">
                            <tr>
                                <tr class="table-primary"><th colspan="2">Exercise Name</th></tr>
                                <td class="exercise-row blockquote fs-2" id="exercise-string">{{ exercise[2] }}</td>
                            <td>
                                <table class="sets-table table table-bordered">
                                    <thead>
                                        <tr class="table-primary">
                                            <th>Reps</th>
                                            <th>Weight</th>
                                            <th>RPE</th>
                                        </tr>
                                    </thead>
                                    {% for setlist in sets %}
                                    {% for x in setlist %}
                                        {% if x[1] == exercise[1] %}        
                                            <tr>
                                                <td>{{ x[2] }}</td>
                                                <td>{{ x[3] }}</td>
                                                <td>{{ x[4] }}</td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                    {% endfor %}
                                </table>
                            </td>
                            </tr>

                        </table>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    {% else %}
                    <td>You have no exercises for this session!</td>
                    {% endif %}
        </table>
        <br>
        <br>
        <br>
    {% endfor %}
    {% else %}
        <h2 class="text-center">You have no sessions, to log a new session click <a href="{{url_for('log1') }}">here</a></h2>
    {% endif %}
</div>
<a href="{{ url_for('log3') }}">Test Page</a>

{% endblock %}

