{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
    <h2 class="display-4 text-center">Welcome, {{ session.user }}</h2>
    <h5 class="text-center">To log a session, click <a href="{{ url_for('log1') }}">here</a></h5>
    <a href="{{ url_for('logout') }}">Log out</a>
</div>

<section id="session-display-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <table class="table table-hover table-bordered">
                    <caption>List of users</caption>
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Session Name</th>
                            <th scope="col">Session Date</th>
                            <th scope="col">Session Time in Minutes</th>
                            <th scope="col">Session RPE</th>
                            <th scope="col">Session Workload</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in sessiondata %}
                            <tr>
                                <th scope="row">{{ row[4] }}</th>
                                <td>{{ row[2] }}</td>
                                <td>{{ row[3] }}</td>
                                <td>{{ row[5] }}</td>
                                <td>{{ row[6] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div></div>
            </div>
        </div>
    </div>
</section>

{% endblock %}