{% extends "base.html" %}
    {% block content %}
        <!-- Masthead-->
        <header class="masthead text-white text-center">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    {% if session.user %}
                        <div class="col-12 col-md-9 mb-2 mb-md-0 mx-auto"><h1 class="mb-5">Click here to go to your dashboard!</h1></div>
                    <div class="col-12 col-md-3 mt-3"><a class="btn btn-block btn-lg btn-primary" href="{{ url_for('dashboard') }}">Dashboard</a></div>
                    {% else %}
                    <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                        <div class="col-12 col-md-9 mb-2 mb-md-0 mx-auto"><h1 class="mb-5">Sign in to start tracking you training sessions today!!</h1></div>
                        <form method="post" action="{{ url_for('index') }}">
                            <div class="form-row">
                                <div class="col-12 col-md-9 mb-2 mb-md-0"><input class="form-control form-control-lg" type="text" name="Username" required placeholder="Enter your username..." /></div>
                                <div class="col-12 col-md-9 mb-2 mb-md-0 mt-3"><input class="form-control form-control-lg" type="password" name="Password1" required placeholder="Enter your password..." /></div>
                                <div class="col-12 col-md-3 mt-3"><button class="btn btn-block btn-lg btn-primary" type="submit">Sign in!</button></div>
                            </div>
                        </form>
                    <div class="mt-2 sub-sign-in-text">
                        <p>Not a member? Register <a href="{{ url_for('register') }}">here</a></p>
                    </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </header>
        <!-- Icons Grid-->
        <section class="features-icons bg-light text-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                            <div class="features-icons-icon d-flex"><i class="icon-screen-desktop m-auto text-primary"></i></div>
                            <h3>Data Collection</h3>
                            <p class="lead mb-0">This app allows you to store all your training data in one convenient location!</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                            <div class="features-icons-icon d-flex"><i class="icon-layers m-auto text-primary"></i></div>
                            <h3>Analyse</h3>
                            <p class="lead mb-0">You will receive a comprehensive breakdown of each session after it has been logged!</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                            <div class="features-icons-icon d-flex"><i class="icon-check m-auto text-primary"></i></div>
                            <h3>Easy to Use</h3>
                            <p class="lead mb-0">Logging sessions is easy and intuitive!</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Image Showcases-->
        <section class="showcase">
            <div class="container-fluid p-0">
                <div class="row no-gutters">
                <div class="col-lg-6 order-lg-2 text-white showcase-img home-image-1"></div>
                    <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                        <h2>Mobile Friendly</h2>
                        <p class="lead mb-0">This app is mobile friendly, meaning you can log your sessions on the go!</p>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col-lg-6 text-white showcase-img home-image-2"></div>
                    <div class="col-lg-6 my-auto showcase-text">
                        <h2>Advanced Analytics</h2>
                        <p class="lead mb-0">You will receive metrics relating to each exercise and session
                             once it has been completed such as the total session workload, the average intensity
                             per exercise and the average intensity of the session. This will make comparing sessions
                             easier, making future programming decisions more informed.</p>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col-lg-6 order-lg-2 text-white showcase-img home-image-3"></div>
                    <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                        <h2>Safely Stored</h2>
                        <p class="lead mb-0">Logging your training on this app will allow you to view it for the months and years ahead. As a powerlifter, knowing what you responded to in the past can help you decide what you may respond to in the future!</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Call to Action-->
        <section class="call-to-action text-white text-center">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 mx-auto"><h2 class="mb-4">Ready to get started? Sign up now!</h2></div>
                    <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                        <div><a class="btn btn-primary" href="{{ url_for('register') }}">Register</a></div>
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}