{% extends "base.html" %}
{% block content %}
<div class="container card bg-light mb-3 mt-3">
    <div class="row justify-content-center">
        <h2 class="display-4 mt-2">Session Overview</h2>
    </div>
    <form method="post" action="{{ url_for('log1') }}" class="card-body">
        <div class="form-group">
            <label for="session-name">Session Name</label>
            <input type="text" class="form-control" name="session-name" aria-describedby="session-name">
        </div>
        <small id="timeHelp" class="form-text text-muted">This may relate to the session's position in the training block, eg. Week 1 Day 5 etc.</small>
        <div class="form-group">
            <label for="session-date">Session Date</label>
            <input type="date" class="form-control" name="session-date" aria-describedby="session-date">
        </div>
        <small id="timeHelp" class="form-text text-muted">Note that this is a 24 hour clock.</small>
        <div class="form-group">
            <label for="session-time">Session Time in Minutes</label>
            <input type="number" name="session-time" class="form-control">
        </div>
        <div class="form-group">
            <label for="session-rpe">Session RPE</label>
            <input type="range" min="0" max="10" step="1" class="form-control-range" name="session-rpe" id="formControlRange">
        </div>
        <small id="timeHelp" class="form-text text-muted">Rate how difficult the session was overall on this scale.
            Allow for 15-20 minutes to pass after the session before filling out this field.
        </small>
        <div class="row justify-content-center"><button type="submit" class="btn btn-primary mt-2 mx-auto">Next</button></div>
    </form>

    <a href="{{ url_for('log2') }}">Link to log2</a>
</div>
{% endblock %}