{% extends "base.html" %}
{% block content %}

<div class="container card bg-light mb-3 mt-3">
    <div class="row justify-content-center">
        <h2 class="display-4 mt-2">Exercise Entry</h2>
    </div>
    

    <form class="card-body" action="" method="POST" id="exerciseform">
        <div class="form-group">
            <label for="exercisetype">Exercise Type:</label>
            <select class="form-control" name="exercisetype" id="exercisetype">
                {% for x in exercisetype %}
                <option value="{{ x[0] }}">{{ x[1] }}</option>
                {% endfor %}
            </select>
        </div>
        <div id="squat-section">
            <div class="form-group">
                <label for="stancewidth">Stance Width:</label>
                <select class="form-control" name="stancewidth" id="stancewidth" disabled>
                    {% for x in stancewidth %}
                    <option value="{{ x[0] }}">{{ x[1] }}</option>
                    {% endfor %}
                </select>
            </div>
        
            <div class="form-group">
                <label for="barposition">Bar Position:</label>
                <select class="form-control" name="barposition" id="barposition" disabled>
                    {% for x in barposition %}
                    <option value="{{ x[0] }}">{{ x[1] }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div id="bench-section">
            <div class="form-group">
                <label for="gripwidth">Grip Width:</label>
                <select class="form-control" name="gripwidth" id="gripwidth">
                    {% for x in gripwidth %}
                    <option value="{{ x[0] }}">{{ x[1] }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

         <div id="deadlift-section">
            <div class="form-group">
                <label for="deadliftstance">Deadlift Stance:</label>
                <select class="form-control" name="deadliftstance" id="deadliftstance" disabled>
                    {% for x in deadliftstance %}
                    <option value="{{ x[0] }}">{{ x[1] }}</option>
                    {% endfor %}
                </select>
                <div class="form-group deadlift-section">
                    <label for="snatchgrip">Snatch Grip:</label>
                    <select class="form-control" name="snatchgrip" id="snatchgrip">
                        <option value="0">No</option>
                        <option value="1">Yes</option>
                    </select>
                </div>
            </div>
        </div>
            <div class="form-group" id="bartype-section">
                <label for="bartype">Bar Type:</label>
                <select class="form-control" name="bartype" id="bartype">
                    {% for x in bartype %}
                    <option value="{{ x[0] }}">{{ x[1] }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group" id="belt-section">
                <label for="belt">Belt:</label>
                <select class="form-control" name="belt" id="belt">
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                </select>
            </div>
            <div class="form-group" id="tempo-section">
                <label for="tempo">Tempo</label>
                <select class="form-control" name="tempo" id="tempo">
                    {% for x in tempo %}
                    <option value="{{ x[0] }}">{{ x[1] }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group" id="pause-section">
                <label for="pause">Pause:</label>
                <input class="form-control" name="pause" id="pause" type="number" value="0">
            </div>
            <div class="form-group"  id="pin-section">
                <label for="pin">Pin:</label>
                <select class="form-control" name="pin" id="pin">
                    {% for x in pin %}
                    <option value="{{ x[0] }}">{{ x[1] }}</option>
                    {% endfor %}
                </select>
            </div>
        
            <div class="form-group">
                <label for="setnumber">Number of sets:</label>
                <input class="form-control" type="number" id="setnumber" name="setnumber">
            </div>

            <div class="btn btn-primary mx-auto" id="okay-button">Okay</div>

            <div id="reps-counter" class="mx-auto mb-3 justify-content-center"></div>

            <div class="mx-auto text-center mt-2">
                <input type="submit" class="btn btn-primary" value="Add" id="set-input-button">
            </div>
            <div>
                <a href="{{ url_for('dashboard') }}" onclick="return confirm('Are you sure you want to finish this session?')" class="btn btn-success mt-2">Finish Session</a>
            </div>

        </form>
        
       

{% endblock %}