{% extends "base.html" %}
{% block content %}

    <div class="container card bg-light mb-3 mt-3">
        <div class="row justify-content-center">
            <h2 class="display-4 mt-2">Exercise Entry</h2>
        </div>

        <form class="card-body" action="" method="POST" id="reps-form">
            <!-- <table>
                <tr>
                    <th>Reps</th>
                    <th>Weight</th>
                    <th>RPE</th>
                </tr>
                
                <tr>
                    <td><input type="text" class="form-control form-control-lg"></td>
                    <td><input type="text" class="form-control form-control-lg"></td>
                    <td><input type="text" class="form-control form-control-lg"></td>
                </tr>

            </table> -->
        </form>
    </div>

{% endblock %}
