{% extends "base.html" %}
{% block content %}

<div class="container card bg-light mb-3 mt-3">
    <div class="row justify-content-center">
        <h2 class="display-4 mt-2">Testing</h2>
    </div>



    <section>
        {% for session in sessiondata %}
            <div>
                <div>{{ session }}</div>
                {% for exercise in listb %}
                    {% if session[0] == exercise[1] %}
                        <div>{{ exercise }}</div>
                        {% for setlist in sets %}
                            {% for x in setlist %}
                                {% if x[1] == exercise[0] %}
                                    <div>{{ x }}</div>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </section>


</div>

{% endblock %}