{% extends "base.html" %}
    {% block content %}
    <!-- Masthead-->
    <header class="masthead text-white text-center">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <h1 class="mb-5">Register today to log your first session!</h1>
                </div>
                <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                    <div hidden class="alert alert-danger alert-dismissable" id="password-alert" role="alert">
                        The passwords do not match. Please try again!
                        <a href="" class="close" data-dismiss="alert">X</a>
                    </div>
                    <form method="post">
                        <div class="form-row">
                            <div class="col-12 col-md-9 mb-2 mb-md-0"><input class="form-control form-control-lg"
                                    type="text" name="FirstName" id="FirstName" minlength="3" maxlength="20" pattern="^[a-zA-Z0-9]{5-15}$" required
                                    placeholder="Enter your first name..." /></div>
                            <div class="col-12 col-md-9 mb-2 mb-md-0 mt-3"><input class="form-control form-control-lg"
                                    type="text" name="LastName" id="LastName" minlength="3" maxlength="20" pattern="^[a-zA-Z0-9]{5-15}$" required
                                    placeholder="Enter your last name..." /></div>
                            <div class="col-12 col-md-9 mb-2 mb-md-0 mt-3"><input class="form-control form-control-lg"
                                    type="email" name="Email" id="Email" minlength="3" maxlength="40" pattern="^[a-zA-Z0-9]{5-15}$" required
                                    placeholder="Enter your email address..." /></div>
                            <div class="col-12 col-md-9 mb-2 mb-md-0 mt-3"><input class="form-control form-control-lg"
                                    type="text" name="Username" id="Username" minlength="3" maxlength="20" pattern="^[a-zA-Z0-9]{5-15}$" required
                                    placeholder="Choose your username..." /></div>
                            <div class="col-12 col-md-9 mb-2 mb-md-0 mt-3"><input class="form-control form-control-lg"
                                    type="password" name="Password1" id="Password1" pattern="^[a-zA-Z0-9]{5-15}$"
                                    required placeholder="Enter your password..." /></div>
                            <div class="col-12 col-md-9 mb-2 mb-md-0 mt-3"><input class="form-control form-control-lg"
                                    type="password" name="Password2" id="Password2" pattern="^[a-zA-Z0-9]{5-15}$"
                                    required placeholder="Confirm your password..." /></div>
                            <div class="col-12 col-md-3 mt-3"><button class="btn btn-block btn-lg btn-primary"
                                    type="submit" id="submit-registration">Register!</button></div>
                        </div>
                    </form>
                    <div class="mt-2 sub-sign-in-text">
                        <p>Already a member? Login <a href="{{ url_for('index') }}">here</a></p>
                    </div>
                </div>
            </div>
        </div>
    </header>

{% endblock %}