{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
    <h2 class="display-4 text-center">Welcome, {{ session.user }}</h2>
    <h5 class="text-center">To log a session, click <a href="{{ url_for('log1') }}">here</a></h5>
    <a href="{{ url_for('logout') }}">Log out</a>
</div>

<table>

    <tr>
        <th>Session</th>
    </tr>

    <tr>
        <table>
            <tr>
                <td>Exercise</td>
                <td>
                    <table>
                        <tr>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>a</td>
                            <td>b</td>
                            <td>c</td>
                            <td>d</td>
                            <td>f</td>
                        </tr>
                    </table>
                </td>
            </tr>

        </table>
    </tr>

</table>



<section>
    {% for session in sessiondata %}
        <div>{{ session }}</div>
        {% for exercise in exerciselist %}
            {% if exercise[1] = session[0] %}
                <div></div>
            {% endif %}
        {% endfor %}
    {% endfor %}
</section>


{% endblock %}


